<md-card>
    <md-card-header>
        <div md-card-avatar class="leaderboard-card-avatar"></div>
        <md-card-title>Leaderboard</md-card-title>
        <md-card-subtitle>Let's see the top 5 performers!</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-list>
            <md-list-item *ngFor="let score of topFiveScores">
                <span class="userName" #userName>{{score[0]}}</span>
                <span class="score">{{score[1]}}</span>
                <button md-raised-button (click)="navigateToUserPage(userName.innerText)">Visualise</button>

            </md-list-item>
        </md-list>
    </md-card-content>
</md-card>