<md-card>
    <md-card-header>
        <div md-card-avatar class="start-card-avatar"></div>
        <md-card-title>Up for a challenge?</md-card-title>
        <md-card-subtitle>Tell me your name and let's get started!</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-input-container>
            <input mdInput #textbox type="text" (keyup.enter)="navigateToUserPage()" [(ngModel)]="userName" placeholder="Your name" required>
        </md-input-container>
        <button md-raised-button color="accent" (click)="navigateToUserPage()" class="goButton">GET STARTED</button>
    </md-card-content>

    <div class="orWord">OR</div>

    <md-card-header>
        <div md-card-avatar class="visualise-card-avatar"></div>
        <md-card-title>Visualise all performances?</md-card-title>
        <md-card-subtitle>Click below and see detailed breakdown!</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <button md-raised-button color="primary" routerLink="/visualise" class="goButton">VISUALISE ALL</button>
    </md-card-content>
</md-card>