<div class="container" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="20px">
    <div class="item item-1" fxFlex="33%">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="start-card-avatar"></div>
                <md-card-title>Up for a challenge?</md-card-title>
                <md-card-subtitle>Tell me your name and let's get started!</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-input-container>
                    <input mdInput #textbox type="text" (keyup.enter)="send(userName)" [(ngModel)]="userName" placeholder="Your name" required>
                </md-input-container>
                <button md-raised-button color="accent" (click)="send(userName)" class="goButton">Go</button>
            </md-card-content>
        </md-card>
    </div>

    <div class="item item-2" fxFlex="33%">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="leaderboard-card-avatar"></div>
                <md-card-title>Leaderboard</md-card-title>
                <md-card-subtitle>Let's see the top 5 performers!</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item *ngFor="let score of topFiveScores">
                        <md-icon md-list-icon>star</md-icon>
                        {{score[0]}} <span class="leaderboard-score">{{score[1]}} points</span>
                    </md-list-item>
                </md-list>
            </md-card-content>
        </md-card>
    </div>

    <div class="item item-3" fxFlex="34%">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="rules-card-avatar"></div>
                <md-card-title>Rules of the week-long challenge</md-card-title>
                <md-card-subtitle>You can earn 3 points per day!</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <md-list>
                    <md-list-item>
                        <md-icon md-list-icon>looks_one</md-icon>
                        Earn a point if you exercise (min 30 mins)
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon md-list-icon>looks_two</md-icon>
                        Earn a point if you don't have aritifical sugars
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <md-icon md-list-icon>looks_3</md-icon>
                        Earn a point if you don't drink alcohol
                    </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="openSnackBar()">BRING IT ON!</button>
            </md-card-actions>
        </md-card>
    </div>
</div>