<md-card class="rules-card">
    <md-card-header>
        <div md-card-avatar class="rules-card-avatar"></div>
        <md-card-title>Rules of the Game</md-card-title>
        <md-card-subtitle>Week-long competition</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="http://www.mydominioncity.com/images/rules.jpg">
    <md-card-content>
        <p class="rules-card-content-title">
            You can earn 3 points per day:
        </p>
        <md-list>
            <md-list-item> 1 Point if you exercise for 30 minutes </md-list-item>
            <md-list-item> 1 Point if you don't have aritifical sugars </md-list-item>
            <md-list-item> 1 Point if you don't drink alcohol </md-list-item>
        </md-list>
    </md-card-content>
    <md-card-actions>
        <button md-button>GOT IT</button>
        <button md-button>HOME</button>
    </md-card-actions>
</md-card>

<!--Go to the <a routerLink="/" routerLinkActive="active">Home Page</a>-->