.container {
    margin: 20px;
}

.rules-card-avatar {
    background-image: url('http://www.esmba.co.uk/s/cc_images/cache_2146326.jpg');
    background-size: cover;
}

.score-card-avatar {
    background-image: url('https://bugs.swift.org/secure/useravatar?size=small&avatarId=10341');
    background-size: cover;
}

.rules-card-content-title {
    font-size: 16px;
    font-weight: bold;
}