<div class="container" fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="20px">
    <div class="item item-1" fxFlex="40%">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="rules-card-avatar"></div>
                <md-card-title>Rules of the Game</md-card-title>
                <md-card-subtitle>Week-long competition</md-card-subtitle>
            </md-card-header>
            <img md-card-image src="http://www.mydominioncity.com/images/rules.jpg">
            <md-card-content>
                <p class="rules-card-content-title">
                    You can earn 3 points per day:
                </p>
                <md-list>
                    <md-list-item> 1 Point if you exercise for 30 minutes </md-list-item>
                    <md-list-item> 1 Point if you don't have aritifical sugars </md-list-item>
                    <md-list-item> 1 Point if you don't drink alcohol </md-list-item>
                </md-list>
            </md-card-content>
            <md-card-actions>
                <button md-button (click)="openSnackBar()">BRING IT ON!</button>
                <button md-button routerLink="/">HOME</button>
            </md-card-actions>
        </md-card>
    </div>

    <div class="item item-2" fxFlex="60%">
        <md-card>
            <md-card-header>
                <div md-card-avatar class="score-card-avatar"></div>
                <md-card-title>Hello {{userName}}</md-card-title>
                <md-card-subtitle>Add your score below</md-card-subtitle>
            </md-card-header>
            <md-card-content>

                <md-grid-list cols="8">
                    <md-grid-tile [style.border-right]="'1px solid #ddd'" [style.border-bottom]="'1px solid #ddd'" [style.border-top]="'1px solid #ddd'">
                        Criteria
                    </md-grid-tile>
                    <md-grid-tile *ngFor="let day of data" [style.border-bottom]="'1px solid #ddd'" [style.border-top]="'1px solid #ddd'">
                        {{day.day}}
                    </md-grid-tile>

                    <md-grid-tile [style.border-right]="'1px solid #ddd'">
                        Exercise?
                    </md-grid-tile>
                    <md-grid-tile *ngFor="let dataPoint of data; let i=index">
                        <md-checkbox [(ngModel)]="data[i].firstRule" (change)="update()"></md-checkbox>
                    </md-grid-tile>

                    <md-grid-tile [style.border-right]="'1px solid #ddd'">
                        No Alcohol?
                    </md-grid-tile>
                    <md-grid-tile *ngFor="let dataPoint of data; let i=index">
                        <md-checkbox [(ngModel)]="data[i].secondRule" (change)="update()"></md-checkbox>
                    </md-grid-tile>

                    <md-grid-tile [style.border-right]="'1px solid #ddd'">
                        Good Food?
                    </md-grid-tile>
                    <md-grid-tile *ngFor="let dataPoint of data; let i=index">
                        <md-checkbox [(ngModel)]="data[i].thirdRule" (change)="update()"></md-checkbox>
                    </md-grid-tile>

                </md-grid-list>
            </md-card-content>
            <md-card-actions>
                <button md-button>COMPARE</button>
                <button md-button>SHARE</button>
            </md-card-actions>
        </md-card>
    </div>

</div>







<!--Go to the <a routerLink="/" routerLinkActive="active">Home Page</a>-->